h3= I18n.t('.campaigns.active')

table.table.table-striped
  tr
    th= I18n.t('.campaigns.name')
    th= I18n.t('.campaigns.start_date')
    th= I18n.t('.campaigns.end_date')
  - active_campaigns.each do |campaign|
    tr
      td= link_to campaign.project_name, campaign_path(campaign)
      td= link_to campaign.start_date, campaign_path(campaign)
      td= link_to campaign.end_date, campaign_path(campaign)

h3= I18n.t('.campaigns.completed')

= render 'campaigns/completed_connected', campaigns: completed_campaigns
