= simple_form_for [:admin, tenant] do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group= f.input :name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.tenants.tenant_name')
  .form-group
    label.required= I18n.t('.tenants.tenant_logo')
    - if tenant&.logo&.url
      br
      = image_tag tenant&.logo&.url, width: 50, height: 50, class: 'tenant-logo'
    = f.input :logo, label: false, input_html: { class: 'form-control form-control-file' }, required: tenant&.logo&.url.blank?, type: :file
  .form-group= f.input :client_list_available, collection: [['Yes', true], ['No', false]], input_html: { class: 'form-control' }, label: I18n.t('.tenants.list_available')

  .form-group
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), admin_tenants_path, class: 'btn btn-primary'
