tr
  th= link_to tenant.name, edit_admin_tenant_path(tenant)
  th= link_to "#{tenant.owner&.email}", edit_admin_tenant_path(tenant)
  th= link_to tenant.created_at.strftime('%d %b %Y'), edit_admin_tenant_path(tenant)
  th= link_to tenant.campaigns.count, edit_admin_tenant_path(tenant)
  th= link_to (!!tenant.client_list_available).to_s, edit_admin_tenant_path(tenant)
  th
    = link_to admin_tenant_path(tenant), method: :delete, data: { confirm: "Delete Tenant: #{tenant.name}?" } do
      | &#x2718
