br
.row
  .col-md-12
    h1
      = tenant.name
      = image_tag tenant.logo.url, width: 200, height: 100
.row
  .col-md-3.col-lg-4
  .col-sm-12.col-md-6.col-lg-4
    = form_for new_session, url: sessions_path do |f|
      .form-group
        label for='email' #{I18n.t('.email')}
        = f.text_field :email, class: 'form-control', id:'email', type: :email
      .form-group
        label for='password' #{I18n.t('.password')}
        = f.text_field :password, class: 'form-control', id:'password', type: :password
      .form-group
        = link_to I18n.t('.reset_password'), new_password_reset_path
        .float-right= link_to I18n.t('.tickets.help'), new_ticket_path
      = submit_tag I18n.t('.login'), class: 'btn btn-primary'
  .col-md-3.col-lg-4
