br
.row
  .col-md-12
    = I18n.t('.change_password')
.row
  .col-md-3.col-lg-4
  .col-sm-12.col-md-6.col-lg-4
    = form_for 'user', url: password_reset_path(params[:id]), method: :patch do |f|
      .form-group
        label for='password' = I18n.t('.password')
        = text_field_tag :password, nil, class: 'form-control', id:'password', type: :password, required: true
      .form-group
        label for='password_confirmation' = I18n.t('.password_confirmation')
        = text_field_tag :password_confirmation, nil, class: 'form-control', id:'password_confirmation', type: :password, required: true
      = submit_tag I18n.t('.change'), class: 'btn btn-primary'
  .col-md-3.col-lg-4
