br
.row
  .col-md-12
    = I18n.t('.reset_password')
.row
  .col-md-3.col-lg-4
  .col-sm-12.col-md-6.col-lg-4
    = simple_form_for(:password_reset, url: password_resets_path) do |f|
      .form-group= f.input :email, required: true, input_html: { class: 'form-control' }, label: I18n.t('.email')
      = f.submit I18n.t('.reset'), class: 'btn btn-primary'
