tr
  th= c_i.influencer&.first_name
  th= c_i.influencer&.surname
  th= select_tag :state, options_for_select(CampaignInfluencer.states.map{|k,v| [k, v]}, CampaignInfluencer.states[c_i.state]), data: { url: admin_campaign_campaign_influencer_path(c_i.campaign, c_i), method: :patch, remote: true, state: c_i.state }
  th
  th= c_i.influencer&.email
  th
  th= link_to I18n.t('.download_contract'), c_i.contract&.url, class: 'btn btn-primary', target: '_blank' if c_i.contract.url
  th
    = link_to admin_campaign_campaign_influencer_path(c_i.campaign, c_i), method: :delete, data: { confirm: "Delete Campaign Influencer: #{c_i.influencer&.first_name}?" } do
      | &#x2718
