br
h1= I18n.t(".tasks.#{params[:type]}_title")

.row.tasks
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.tasks.task_summary')
        th= I18n.t('.tasks.due_date')
        th= I18n.t('.tasks.completed')
      - tasks.each do |task|
        tr
          td
            label.task-label.dropdown-toggle for="task-label-#{task.id}" = task.summary
            input.d-none id="task-label-#{task.id}" type='checkbox'
            .task-description= task.description
          td= task.due&.strftime('%d %b %Y')
          td= render 'complete_task', task: task
