br
.row
  .col-sm-12.text-center
    => link_to I18n.t('.campaign_administrators'), admin_campaign_admins_path, class: 'btn btn-primary'
br
- if current_user&.campaign_admin?
  .row
    .col-sm-12.text-center
      => link_to I18n.t('.campaigns.campaigns'), admin_campaigns_path, class: 'btn btn-primary'
  br
  .row
    .col-sm-12.text-center
      => link_to I18n.t('.influencers.import_influencers'), admin_influencers_imports_path, class: 'btn btn-primary'
  br
.row
  .col-sm-12.text-center
    => link_to I18n.t('.tenants_title'), admin_tenants_path, class: 'btn btn-primary'
br
.row
  .col-sm-12.text-center
    = link_to I18n.t('.influencers_title'), admin_influencers_path, class: 'btn btn-primary'
br
.row
  .col-sm-12.text-center
    = link_to I18n.t('.tickets.help_desk'), admin_tickets_path, class: 'btn btn-primary'
