= simple_form_for topic, url: category_topic_path(category, topic) do |f|
  .form-group= f.input :referred, required: true, input_html: { class: 'form-control',
                                                  value: nil },
                                                  label: I18n.t('.topics.topic')
  .form-group
    .text-center= f.submit I18n.t('.save'), class: 'btn btn-primary'
