.topic data-topic-id=topic.id
  .row
    .col-sm-3
      .col-sm-12= I18n.t('.topics.created_by')
      .col-sm-12= topic.user&.full_name
      .col-sm-12= image_tag topic.user&.avatar.url, width: 100, height: 100
      .col-sm-12= I18n.t('.topics.added_at')
      .col-sm-12= topic.created_at.strftime('%d %b %Y %H:%M')
    .col-sm-8
      = link_to topic.subject, category_topic_path(topic.category_id, topic)
    .col-sm-1
      - if current_tenant_user.campaign_admin?
        = link_to category_topic_path(topic.category_id, topic), remote: true, method: :delete,
          data: { confirm: "Delete #{I18n.t('.topics.topic')}: #{topic.subject}?" } do
          | &#x2718
  hr
