= simple_form_for task, url: url do |f|
  = f.hidden_field :user_id, value: current_user.id unless task.id
  .row
    .col-sm-12.col-md-7.col-lg-8.text-left
      .form-group= f.input :name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.tasks.name')
    .col-sm-12.col-md-5.col-lg-4.text-left
      .form-group= f.input :task_type, collection: Task.task_types.keys, input_html: { class: 'form-control' }, required: true, label: I18n.t('.tasks.type')
  .row
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :summary, input_html: { class: 'form-control' }, required: true, label: I18n.t('.tasks.summary')
  .row
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :description, input_html: { class: 'form-control' }, required: true, label: I18n.t('.tasks.description')
  .row
    .col-sm-12.col-md-6.col-lg-4.text-left
      .form-group= f.input :due, input_html: { class: 'form-control datepicker' }, required: true, as: :string, label: I18n.t('.tasks.due')
  #survey-link.row.d-none
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :survey, input_html: { class: 'form-control' }, required: false, label: I18n.t('.tasks.link_to_survey')

  hr
  .row
    .col-sm-12.col-md-6.col-lg-12.text-center
      .form-group
        .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
        .float-right= link_to I18n.t('.cancel'), admin_campaign_tasks_path(campaign), class: 'btn btn-primary'
