.row.campaign-logos
  = render partial: 'campaigns/logo', collection: campaign.logos, as: :logo

- if (current_tenant_user&.influencer? && campaign_influencer&.approved?) || !current_tenant_user.influencer?
  .btn-group.navigation
    - if current_tenant_user.influencer?
      => link_to I18n.t('.tasks.tasks'), campaign_tasks_path(campaign, :uncompleted), class: "btn btn-secondary #{ 'active btn-primary' if current_page?(campaign_tasks_path(campaign, :uncompleted))}"
      => link_to I18n.t('.tasks.completed_tasks'), campaign_tasks_path(campaign, :completed), class: "btn btn-secondary #{ 'active btn-primary' if current_page?(campaign_tasks_path(campaign, :completed))}"
    - if campaign.use_forum
      = link_to t('.campaigns.forum'), campaign_forum_path(campaign), class: "btn btn-secondary #{ 'active btn-primary' if current_page?(campaign_forum_path(campaign))}"
    = link_to I18n.t('.tickets.help'), new_ticket_path, class: "btn btn-secondary #{ 'active btn-primary' if current_page?(new_ticket_path)}"

  - if forum && !current_page?(campaign_path(campaign))
    br
    .row
      .col-sm-12.col-md-12.col-lg-12
        .float-left
          h3 #{I18n.t('.campaigns.forum')}: #{forum.title}
    hr

  - if product
    br
    .row
      .col-sm-6
        .float-left
          h4 #{I18n.t('.products.product')}: #{product.title}
      - if category
        .col-sm-6
          .float-left
            h4 #{I18n.t('.categories.category')}: #{category.title}
    hr

  - if topic
    br
    .row
      .col-sm-6
        .float-left
          h4 #{I18n.t('.topics.topic')}: #{topic.subject} #{"(#{I18n.t('.topics.closed')})" if topic.closed}
          - if topic.referred
            p
              | #{I18n.t('.topics.duplicate')}:
              =< link_to topic.referred.subject, category_topic_path(topic.referred.category,
                                                                    topic.referred)
      - if current_tenant_user.campaign_admin?
        = render 'topics/admin_panel'
    hr
- else
  - if campaign_influencer&.contract&.url
    = render 'campaign_influencers/contract_uploaded'
  - else
    .contract-navigation
      = link_to I18n.t('.download_contract'), campaign.contract.url, class: 'btn btn-primary', target: '_blank' if campaign.contract.url
      = link_to I18n.t('.upload_contract'), edit_campaign_influencer_path(campaign_influencer),
                                   class: 'btn btn-primary', remote: true
      .row
        .col-sm-6.campaign-influencer-contract
