#changeLanguage.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5.modal-title= I18n.t('.change_language')
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
      .modal-body
        => link_to 'English', locales_path(language: :English), method: :patch, class: 'btn btn-primary'
        => link_to 'Spanish', locales_path(language: :Spanish), method: :patch, class: 'btn btn-primary'
        = link_to 'Portuguese', locales_path(language: :Portuguese), method: :patch, class: 'btn btn-primary'
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button"= I18n.t('.close')
