= simple_form_for [:admin, campaign] do |f|
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      = f.hidden_field :user_id, value: current_user.id
      .form-group= f.input :project_name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.campaigns.project_name')
      .form-group= f.input :start_date, input_html: { class: 'form-control datepicker' }, required: true, as: :string, label: I18n.t('.campaigns.start_date')
      .form-group= f.input :end_date, input_html: { class: 'form-control datepicker' }, required: true, as: :string, label: I18n.t('.campaigns.end_date')
      .form-group= f.input :location, input_html: { class: 'form-control' }, required: true, collection: Campaign.locations.keys, label: I18n.t('.campaigns.location')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :tenant_id, input_html: { class: 'form-control' }, required: true, collection: tenants_options, selected: params[:tenant], label: I18n.t('.campaigns.tenant')
      .form-group
        label.custom-control.custom-checkbox
          = f.input :start_auto, class: 'custom-control-input', type: :checkbox, label: I18n.t('.campaigns.start_auto')
      .form-group
        label.custom-control.custom-checkbox
          = f.input :end_auto, class: 'custom-control-input', type: :checkbox, label: I18n.t('.campaigns.end_auto')
      - if campaign.id
        .form-group
          .float-left
            = link_to 'Influencers', admin_campaign_campaign_influencers_path(campaign), class: 'btn btn-primary'
            br
            br
            = link_to 'Influencer Task List', admin_campaign_tasks_path(campaign), class: 'btn btn-primary'
    .col-sm-12.col-md-12.col-lg-6.text-left
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group
        label.custom-control.custom-checkbox
          = f.input :use_forum, class: 'custom-control-input', type: :checkbox, label: I18n.t('.campaigns.use_forum')
      .form-group= f.simple_fields_for :forum_attributes, campaign.forum do |fa|
        = fa.input :title, input_html: { class: 'form-control' }, required: false, label: I18n.t('.campaigns.forum_title')

      br
      = link_to 'Forum', campaign_forum_url(campaign, subdomain: campaign.tenant&.subdomain), class: 'btn btn-primary' if campaign.forum

  - if campaign.id
    hr

    = render 'admin/contacts/index', type: :campaign, parent: campaign

  hr

  = I18n.t('.campaigns.logos')

  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :use_tenant_logo, input_html: { class: 'form-control' }, collection: [['Yes', true], ['No', false]], label: I18n.t('.campaigns.use_tenant_logo')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :tenant_logo_placement, input_html: { class: 'form-control' }, collection: Campaign.tenant_logo_placements.keys, label: I18n.t('.campaigns.placement')

  .links.text-right
    = link_to_add_association I18n.t('.campaigns.add_logo'), f, :logos, class: 'btn btn-primary', data: { 'association-insertion-node' => '#logos', 'association-insertion-method' => 'append' }
  #logos
    = f.simple_fields_for :logos do |logo|
      = render 'logo_fields', f: logo

  hr

  = I18n.t('.campaigns.legal')
  .row
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :terms, input_html: { class: 'form-control' }, required: true, label: I18n.t('.campaigns.terms')
      label.required= I18n.t('.campaigns.contract')
      - if campaign&.contract&.url
        br
        = campaign.contract.file.filename
      .form-group= f.input :contract, input_html: { class: 'form-control form-control-file' }, type: :file, label: false

  hr

  .row
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :welcome_text, input_html: { class: 'form-control' }, required: true, label: I18n.t('.campaigns.welcome_text')
    .col-sm-12.col-md-12.col-lg-12.text-left

  hr

  = I18n.t('.campaigns.fulfillment')

  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group= f.input :fulfilment_email, input_html: { class: 'form-control' }, required: true, type: :email, label: I18n.t('.campaigns.fulfilment_email')
    .col-sm-12.col-md-12.col-lg-6.text-left
      .form-group
        label
        .row
          label.custom-control.custom-checkbox
            = f.input :unlimited, class: 'custom-control-input', type: :checkbox, label: I18n.t('.campaigns.unlimited')
          = I18n.t('.campaigns.limit')
          =< f.input :limit, input_html: { class: 'form-control', min: 0, step: 1 }, required: true, label: false
  .row
    .col-sm-12.col-md-12.col-lg-12.text-left
      .form-group= f.input :fulfilment_text, input_html: { class: 'form-control' }, required: true, label: I18n.t('.campaigns.fulfilment_text')

  .form-group.col-sm-12
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), admin_tenants_path, class: 'btn btn-primary'
