.nested-fields
  .row
    .col-sm-12.col-md-12.col-lg-6.text-left
      label.image-lb= I18n.t('.campaigns.logo')
      .form-group= f.input :image, input_html: { class: 'form-control form-control-file' }, type: :file, label: false
      - if f.object.image.url
        = image_tag f.object.image.url, width: 50, height: 50
        br
        br
    .col-sm-10.col-md-10.col-lg-5.text-left
      .form-group= f.input :placement, input_html: { class: 'form-control' }, required: true, collection: Logo.placements.keys, label: I18n.t('.campaigns.placement')
    .col-sm-2.col-md-2.col-lg-1.text-left
      br
      .form-group
        = link_to_remove_association f
          | &#x2718

