br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.campaigns.campaigns')
    .float-right
      => link_to I18n.t('.add'), new_admin_campaign_path, class: 'btn btn-primary'
br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.campaigns.campaign')
        th= I18n.t('.campaigns.added_by')
        th= I18n.t('.campaigns.starts')
        th= I18n.t('.campaigns.ends')
        th= I18n.t('.campaigns.tenant')
        th= I18n.t('.delete')
      = render partial: 'row', collection: campaigns, as: :campaign
