= simple_form_for contact, url: admin_contacts_path, method: :post do |f|
  .form-group= f.input :first_name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.contacts.first_name')
  .form-group= f.input :surname, input_html: { class: 'form-control' }, required: true, label: I18n.t('.contacts.surname')
  .form-group= f.input :matrimonial_surname, input_html: { class: 'form-control' }, required: false, label: I18n.t('.contacts.matrimonial_surname')
  .form-group= f.input :title, input_html: { class: 'form-control' }, required: false, label: I18n.t('.contacts.title')
  .form-group= f.input :primary_language, input_html: { class: 'form-control' }, collection: User.primary_languages.keys, required: true, label: I18n.t('.contacts.language')
  .form-group= f.input :email, input_html: { class: 'form-control' }, required: true

  .form-group
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), admin_campaign_admins_path, class: 'btn btn-primary'
