tr
  th= link_to contact.title, edit_admin_contact_path(type, parent, contact)
  th= link_to contact.first_name, edit_admin_contact_path(type, parent, contact)
  th= link_to contact.surname, edit_admin_contact_path(type, parent, contact)
  th= link_to contact.email, edit_admin_contact_path(type, parent, contact)
  th
    = link_to admin_contact_path(type, parent, contact), method: :delete, data: { confirm: "Delete Contact: #{contact.title}?" } do
      | &#x2718
