tr
  td= influencer.first_name
  td= influencer.surname
  td= influencer.gender
  td= influencer.email
  td
  td= influencer.marital_status
  td= influencer.city
  td= influencer.postal_code
  td.text-center= check_box_tag 'influencers[ids][]', influencer.id, false, class: 'influencer-checkbox'
