.ticket data-ticket-id=ticket.id
  .row
    .col-sm-12.col-md-1.col-lg-1
      = ticket.id
    .col-sm-12.col-md-4.col-lg-4
      = ticket.email
    .col-sm-12.col-md-4.col-lg-4
      = ticket.text
      = link_to I18n.t('.download_contract'), ticket.campaign_influencer.contract.url, class: 'btn btn-primary', target: '_blank' if ticket.campaign_influencer
    .col-sm-12.col-md-3.col-lg-3
      - if ticket.closed
        .float-right=> link_to I18n.t('.tickets.open'), admin_ticket_path(ticket, closed: false), method: :put, class: 'btn btn-primary'
      - else
        = link_to I18n.t('.tickets.reply'), new_admin_ticket_reply_path(ticket), class: 'btn btn-primary', remote: true
        .float-right=> link_to I18n.t('.tickets.close'), admin_ticket_path(ticket, closed: true), method: :put, class: 'btn btn-primary'
hr
