= simple_form_for campaign_admin, url: { controller: :campaign_admins, action: campaign_admin.new_record? ? :create : :update} do |f|
  .form-group= f.input :username, input_html: { class: 'form-control' }, required: true, label: I18n.t('.username')
  .form-group= f.input :first_name, input_html: { class: 'form-control' }, required: true, label: I18n.t('.first_name')
  .form-group= f.input :surname, input_html: { class: 'form-control' }, label: I18n.t('.patrimonial'), required: true
  .form-group= f.input :matrimonial_surname, input_html: { class: 'form-control' }, label: I18n.t('.matrimonial')
  .form-group= f.input :primary_language, input_html: { class: 'form-control' }, collection: User.primary_languages.keys, required: true, label: I18n.t('.influencers.primary_language')
  .form-group= f.input :email, input_html: { class: 'form-control' }, label: I18n.t('.email_address'), type: :email, required: true

  .form-group
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), admin_campaign_admins_path, class: 'btn btn-primary'
