tr
  th= link_to admin.username, edit_admin_campaign_admin_path(admin)
  th= link_to admin.first_name, edit_admin_campaign_admin_path(admin)
  th= link_to admin.full_surname, edit_admin_campaign_admin_path(admin)
  th= link_to admin.email, edit_admin_campaign_admin_path(admin)
  th
    = link_to admin_campaign_admin_path(admin), method: :delete, data: { confirm: "Delete Campaign Admin: #{admin.username}?" } do
      | &#x2718
