.post data-post-id=post.id
  .row
    .col-sm-3
      .col-sm-12= post.user.full_name
      .col-sm-12= image_tag post.user.avatar, width: 100, height: 100
      .col-sm-12= post.created_at.strftime('%d %b %Y %H:%M')
    .col-sm-8
      = post.text
    .col-sm-1
      - if current_tenant_user.campaign_admin?
        = link_to topic_post_path(post.topic_id, post), remote: true, method: :delete,
          data: { confirm: "Delete #{I18n.t('.posts.post')}: #{post.text}?" } do
          | &#x2718
  hr
