tr
  th= link_to "#{influencer.username}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.country}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.email}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.primary_language}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.gender}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.marital_status}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.profession}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.birth_year}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.first_address}", edit_admin_influencer_path(influencer)
  th= link_to "#{influencer.city}", edit_admin_influencer_path(influencer)
  th
    = link_to admin_influencer_path(influencer), method: :delete, data: { confirm: "Delete Influencer: #{influencer.username}?" } do
      | &#x2718
