br
.row
  .col-sm-12.col-md-12.col-lg-12
    .float-left
      = I18n.t('.influencers_title')
    .float-right
      => link_to I18n.t('.influencers.new_influencer'), new_admin_influencer_path, class: 'btn btn-primary'
      => link_to I18n.t('.influencers.new_influencers'), admin_influencers_imports_path, class: 'btn btn-primary'

br
.row
  .col-sm-12.col-md-12.col-lg-12
    table.table.table-striped
      tr
        th= I18n.t('.influencers.username')
        th= I18n.t('.influencers.country')
        th= I18n.t('.influencers.email')
        th= I18n.t('.influencers.primary_language')
        th= I18n.t('.influencers.gender')
        th= I18n.t('.influencers.marital_status')
        th= I18n.t('.influencers.profession')
        th= I18n.t('.influencers.birth_year')
        th= I18n.t('.influencers.first_address')
        th= I18n.t('.influencers.city')
        th= I18n.t('.delete')
      = render partial: 'row', collection: influencers, as: :influencer
