@import 'bootstrap';
@import 'variables';
@import 'text';
@import 'bootstrap_custom';
@import 'campaigns';
@import 'products';
@import 'tasks';
@import 'surveys';
@import 'tenants';
@import 'navigation';

a.main-logo {
  text-decoration: none;
  color: black;

  span {
    color: #68A2D9;
  }

  &:hover {
    color: black;
  }
}
