.navbar.navbar-light.bg-light {
  background-color: $white !important;

  hr {
    width: 100vw;
    background: $black;
    position: absolute;
    left: 0px;
    bottom: 48px;
  }

  .main-logo {
    img {
      margin-top: -35px;
      margin-bottom: -60px;
    }
  }
}

@media (max-width: $medium) {
  .navbar.navbar-light.bg-light {
    hr { bottom: 133px; }

    .main-logo img { margin-bottom: 0; }
  }
}
