= simple_form_for :category, url: product_categories_path(product), remote: true do |f|
  = f.hidden_field :user_id, value: current_tenant_user.id
  .form-group= f.input :title, required: true, input_html: { class: 'form-control' }
  .form-group= f.input :description, as: :text, input_html: { class: 'form-control' }
  .form-group= f.input :logo, as: :file,
                       input_html: { class: 'form-control form-control-file',
                       accept: 'image/*' }, required: true
  .form-group
    .float-left= f.submit I18n.t('.save'), class: 'btn btn-primary'
    .float-right= link_to I18n.t('.cancel'), forum_product_path(product),
                                             class: 'btn btn-primary'
