tr data-category-id=category.id
  th= image_tag category.logo.url, width: 50, height: 50
  th= link_to category.title, product_category_path(category.product_id, category)
  th= category.description
  th= category.user.username
  th= category.created_at.strftime('%d %b %Y')
  - if current_tenant_user.campaign_admin?
    th
      = link_to product_category_path(category.product_id, category), remote: true, method: :delete,
        data: { confirm: "Delete #{I18n.t('.categories.category')}: #{category.title}?" } do
        | &#x2718
