.row
  .col-sm-12
    .float-right
      button.btn.btn-primary[type='button' data-toggle='modal' data-target='#topic_modal']=I18n.t('.topics.new_topic')
      = render 'shared/modal', id: 'topic_modal',
                               parent_id: category.id,
                               title: I18n.t('.topics.new_topic'),
                               form: 'topics/form'

br
.row
  .col-sm-12
    .topics= render partial: 'topics/row', collection: all_topics, as: :topic
