tr data-product-id=product.id
  th= link_to product.title, forum_product_path(product.forum_id, product)
  th= product.user.username
  th= product.created_at.strftime('%d %b %Y')
  - if current_tenant_user.campaign_admin?
    th
      = link_to forum_product_path(product.forum_id, product), remote: true, method: :delete,
        data: { confirm: "Delete #{I18n.t('.products.product')}: #{product.title}?" } do
        | &#x2718
