- if current_tenant_user.campaign_admin?
  .row
    .col-sm-12
      .float-right
        => link_to I18n.t('.categories.new_category'), new_product_category_path(product),
                                                    remote: true, class: 'btn btn-primary'
br
.row
  .col-sm-12
    table.table.table-striped.categories
      tr
        th= I18n.t('.categories.logo')
        th= I18n.t('.categories.category')
        th= I18n.t('.categories.description')
        th= I18n.t('.products.owner')
        th= I18n.t('.products.added_at')
        - if current_tenant_user.campaign_admin?
          th= I18n.t('.delete')
      = render partial: 'categories/row', collection: all_categories, as: :category
    .col-md-5.form= render 'categories/form', product: product if current_tenant_user.campaign_admin?
