= simple_form_for :reply, url: admin_ticket_replies_path(parent_id), remote: true do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group= f.input :text, as: :text, required: true, input_html: { class: 'form-control' }
  .form-group
    .text-center= f.submit I18n.t('.tickets.reply'), class: 'btn btn-primary'
