doctype 5
html lang='en'
  head
    title InfluencesChain
    = csrf_meta_tags
    meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    nav.navbar.navbar-light.bg-light
      hr
      .container
        .float-left
          h1
            = link_to root_path, class: 'main-logo' do
              = image_tag 'main_logo.png'
        - if current_user
          .float-right
            .btn-group
              span.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown'
                | #{I18n.t('.welcome')}: #{current_user.email}
              .dropdown-menu.dropdown-menu-right
                = link_to I18n.t('.change_password'), edit_password_changes_path, class: 'dropdown-item'
                = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }
                = link_to I18n.t('.logout'), admin_session_path, method: :delete, class: 'dropdown-item'
        - else
          .float-right= link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }

    .container
      br
      = flash_messages
      = yield

    = render 'shared/language_modal'
