doctype 5
html lang='en'
  head
    title InfluencesChain
    = csrf_meta_tags
    meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  body
    nav.navbar.navbar-light.bg-light
      .container
        - if current_tenant_user
          .float-left
            h1
              = link_to root_path, class: 'main-logo' do
                => tenant.name
                = image_tag tenant.logo.url, width: 200, height: 100
          .float-right
            = image_tag current_tenant_user.avatar.url, height: 100 if current_tenant_user.influencer?
            .btn-group
              span.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown'
                | #{I18n.t('.welcome')}: #{current_tenant_user.email}
              .dropdown-menu.dropdown-menu-right
                = link_to I18n.t('.change_password'), edit_password_changes_url(subdomain: :siteadmin), class: 'dropdown-item'
                = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }
                - if current_tenant_user.influencer?
                  = link_to I18n.t('.avatars.upload_avatar'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeAvatar' }
                = link_to I18n.t('.logout'), sessions_path(subdomain: tenant.name), method: :delete, class: 'dropdown-item'
        - else
          .float-right
            = link_to I18n.t('.change_language'), 'javascript:void(false);', class: 'dropdown-item', data: { toggle: 'modal', target: '#changeLanguage' }

    .container
      br
      = flash_messages
      = render 'shared/campaign_navigation' if campaign
      = yield

    = render 'shared/language_modal'
    = render 'shared/avatar_modal' if current_tenant_user&.influencer?
